#carousel-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;

  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;

  padding: 1rem;
}
#carousel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0;

  width: 100%;
}
.image-in-view-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 70%;
}
.image-in-view {
  width: 80%;
  padding-bottom: 46%;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.slide {

  opacity: 1;
  padding-right: 25%;
  padding-bottom: 15%;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  border: none;
}

.slide.active {
  border: 3px solid var(--vivid_sky_blue);
  outline: none;
}
.slide:focus {
  outline: none;
}
.slide:hover {
  border: 3px solid var(--vivid_sky_blue);
}