@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /* Color Pallet Link: https://coolors.co/000000-1f1f1f-393d41-53d8fb-ee7b30 */
    --black: #000;
    --eerie_black: #1F1F1F; 
    --onyx: #393D41;
    --vivid_sky_blue: #53D8FB;
    --pumpkin: #EE7B30;
}

/* RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FONTS */
p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: white;
}
a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}


/* TAGS */
body {
    background-color: var(--black);
}
li {
    list-style-type: none;
}